<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="link.orangecat.multisource.persistence.dao.primary.TestDao">
    <select id="selectBlog" resultType="link.orangecat.multisource.persistence.entity.primary.TestEntity">
        select * from test where id = #{id}
    </select>
</mapper>